@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: linear-gradient( #d3ba879b,#e3c45397);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  font-family: 'PT Serif', serif;
}
p{
  font-family: 'PT Serif', serif;
  font-size: 20px;
}
.g-linen{
    height: 100px;
}
.centertexts{
  text-align: center;
}
.iframe_box{
    width: 50%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
}

header {
    background-color: #383838;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/*фон з картинкою на голвній сторінці*/
#special-offer {
    background-image: url('../image/фото!.jpeg');
    height: 720px;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
}
#special-offer h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

#special-offer p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: white;
}

#special-offer .btn {
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #F0DB01; 
    border: none;
    border-radius: 5px;
}

#special-offer .btn:hover {
    background-color: #8e8201;; 
}

/*фон з картинкою на голвній сторінці*/

/*акції*/
.box{
    display: flexbox;
    width: 300px;
    height: auto;
    position: relative; 
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
#free_dish {
    background-image: url('../image/nature1.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding:  200px; 
}

/*акції*/

/*Меню*/

/*Калькулятор*/
body {
  font-size: 2.5vh;
  top: 15%;
  left: 40%;
  margin: 0 auto;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
}

#calculator {
  width: auto;
  height: auto;
  padding: 1.5vh;
  border: 5px solid #666666;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box {
  text-align:right;
  font-size: 2.8vh;
  height: 3vh;
  line-height: 3vh;
  padding: 1em;
  border: 2px solid #e68a00;
  color: white;
  border-radius: 15px;
  background-color: black;
}

#last_operation_history {
  height: 1.8vh;
  font-size: 1.8vh;
  text-align:right;
  padding-right: 1.5vh;
  color: rgb(177, 176, 176);
  background-color: black;
}

button {
  width:9vh;
  height: 9vh;
  font-weight:bold;
  font-size: 3vh;
  color: white;
  background-color: #666666;
  border-radius: 50%;
  border: 1px solid #333333;
}

#backspace_btn {
  background-image: url("../assets/back_remove.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.7em;
}

button:hover {
  background-color: #999999;
  cursor: pointer;
}

.operator {
  background-color: #e68a00;
}

.operator:hover {
  background-color: #ffd11a;
}

#equal_sign {
  width: 100%;
  border-radius: 15px;
}
/*Калькулятор*/
/*опитаування*/
#survey{
    max-width: 600px;
    margin: 50px auto;
    background-color: #bb9e649b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#survey  button{
  background-color: #cda95f9b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#survey  button:hover{
  background-color: #c88e1a9b;
}


#result {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

#result p {
  margin-bottom: 10px;
}
/*опитаування*/
 /*Меню*/

 /*галерея*/
 
 .video_box{
    text-align: center;
}

.center{
    text-align: center;
}
 /*галерея*/

 /*про нас*/

.about_yorself  h2 {
    font-size: 4.5em;
    margin-bottom: 20px;
    color: black;
    text-shadow: 40px 40px 80px rgba(0, 0, 0, 0.8);
}

.about_yorself  p {
    font-size: 4.2em;
    margin-bottom: 30px;
    color: black;
    text-shadow: 40px 40px 80px rgba(0, 0, 0, 0.8);
}
 /*про нас*/
 
 /*tamimer*/
 .taimer {
 text-align: center;
 font-family: sans-serif;
 font-weight: 100;
}

.countdown-title {
 color: #c58300;
 font-weight: 100;
 font-size: 40px;
 margin: 40px 0px 20px;
}

.countdown {
 font-family: sans-serif;
 color: #fff;
 display: inline-block;
 font-weight: 100;
 text-align: center;
 font-size: 30px;
}

.countdown-number {
 padding: 10px;
 border-radius: 3px;
 background: #c890206b;
 display: inline-block;
}

.countdown-time {
 padding: 15px;
 border-radius: 3px;
 background: #c7890e6b;
 display: inline-block;
}

.countdown-text {
 display: block;
 padding-top: 5px;
 font-size: 16px;
}
 /*tamimer*/