@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: linear-gradient( #d3ba879b,#e3c45397);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  font-family: 'PT Serif', serif;
}
p{
  font-family: 'PT Serif', serif;
  font-size: 20px;
}
.g-linen{
    height: 100px;
}
.centertexts{
  text-align: center;
}
.iframe_box{
    width: 50%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
}

header {
    background-color: #383838;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/*фон з картинкою на голвній сторінці*/
#special-offer {
    background-image: url('../image/file1.jpg');
    height: 720px;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
}
#special-offer h2 {
  font-size: 2.9em;
  margin-bottom: 20px;
  color: rgb(8, 5, 0);
  background-color: rgba(218, 213, 206, 0.398);
  display: inline-block;
  padding: 9px;
  width: auto;
}

/* #special-offer p {
  font-size: 1.9em;
  margin-bottom: 30px;
  color: rgb(187, 124, 66);
  background-color: rgb(174, 125, 65);
  display: table-column-group;
  padding: 11px;
  width: auto;
} */

#special-offer .btn {
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #a6a16c; 
    border: none;
    border-radius: 5px;
}

#special-offer .btn:hover {
    background-color: #8e8201;; 
}

/*фон з картинкою на голвній сторінці*/

/*акції*/
.box{
    display: flexbox;
    width: 300px;
    height: auto;
    position: relative; 
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
#free_dish {
    background-image: url('../image/nature1.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding:  200px; 
}

/*акції*/
/* Calculator */
.calculator {
  max-width: 230px;
  margin: 0 auto;
  background-color: #789abc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.calculator .btn {
  font-size: 18px;
  padding: 15px;
  margin: 2px;
}

.calculator input {
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #c3dab8;
}

.calc-btn {
  background-color: #273b4e;
}

.calc-btn:hover {
  background-color: #123d68;
}

.btn-warning {
  color: rgb(194, 65, 65);
}
/*Калькулятор*/
/*опитаування*/
#survey{
    max-width: 600px;
    margin: 50px auto;
    background-color: #bb9e649b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#survey  button{
  background-color: #cda95f9b;
  color: #421a1a;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#survey  button:hover{
  background-color: #c88e1a9b;
}


#result {
  margin-top: 20px;
  border-top: 1px solid #624646;
  padding-top: 20px;
}

#result p {
  margin-bottom: 10px;
}
/*опитаування*/
 /*Меню*/

 /*галерея*/
 
 .video_box{
    text-align: center;
}

.center{
    text-align: center;
}
 /*галерея*/

 /*про нас*/

.about_yorself  h2 {
    font-size: 4.5em;
    margin-bottom: 20px;
    color: black;
    text-shadow: 40px 40px 80px rgba(0, 0, 0, 0.8);
}

.about_yorself  p {
    font-size: 4.2em;
    margin-bottom: 30px;
    color: black;
    text-shadow: 40px 40px 80px rgba(0, 0, 0, 0.8);
}
 /*про нас*/
 
 /*tamimer*/
 .taimer {
 text-align: center;
 font-family: sans-serif;
 font-weight: 100;
}

.countdown-title {
 color: #c58300;
 font-weight: 100;
 font-size: 40px;
 margin: 40px 0px 20px;
}

.countdown {
 font-family: sans-serif;
 color: #fff;
 display: inline-block;
 font-weight: 100;
 text-align: center;
 font-size: 30px;
}

.countdown-number {
 padding: 10px;
 border-radius: 3px;
 background: #c890206b;
 display: inline-block;
}

.countdown-time {
 padding: 15px;
 border-radius: 3px;
 background: #c7890e6b;
 display: inline-block;
}

.countdown-text {
 display: block;
 padding-top: 5px;
 font-size: 16px;
}
 /*tamimer*/
        /* Стилі для кнопки */
       .open-modal-btn {
    padding: 10px 20px;
    background-color: #d3ba879b;
    color: rgb(144, 6, 6);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Стилі для модального вікна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнення фону */
    z-index: 1000; /* Відображення поверх інших елементів */
}

/* Стилі для контенту модального вікна */
.modal-content {
    background-color: #fff; /* Встановлено білий фон для читабельності */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #d3ba87b0;
    width: 80%; /* Адаптивна ширина */
    max-width: 500px; /* Максимальна ширина */
    border-radius: 10px; /* Заокруглення кутів */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для покращення вигляду */
    text-align: center;
    z-index: 1001; /* Зміст завжди поверх затемнення */
}

/* Стилі для кнопки закриття модального вікна */
.close-modal-btn {
    background-color: #d3ba87b0;
    color: rgb(102, 23, 23);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}


*{
  box-sizing: border-box;
}
body {
  padding: 0%;
}
.container {
  overflow: hidden; 
}
.is-animated {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  position: relative;
  background-color: rgba(133, 102, 130, 0);
}
.is-animated span {
  display: table-caption;
}
.property {
  font-size: 260%;
  text-align: right;
  border-right: 1px solid #120404;
  width:0px;
  overflow: hidden;
  float: left;
  white-space: nowrap;
  -webkit-animation-name: expandProperty;
  -webkit-animation-delay: .2s;
  -webkit-animation-duration: .5s; 
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes expandProperty {
  from {
    width: 0px;
  }
  to {
    width: 1291px;
}
}